<div class="col-md-4">
  <h2>Add a beat</h2>
  <form ng-submit="BeatsFactory.addBeat()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="BeatsFactory.beatName" class="form-control" placeholder="Beat name" /required>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>

<div ng-show="beats.length">
  <h2>Local Beats:</h2>
  <ol>
    <li ng-repeat="item in beats">
      <a ui-sref="beats.reporters({ beatId: item.id })">{{ item.name }}</a>
    </li>
  </ol>
</div>

<div ui-view></div>
